rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAuthenticated() {
      return request.auth != null;
    }

    // Orders can be read, written, and modified by any authenticated user.
    match /orders/{orderId} {
      allow read, write: if isAuthenticated();
    }

    // Employees can be read, written, and modified by any authenticated user.
    match /employees/{employeeId} {
      allow read, write: if isAuthenticated();
    }
  }
}
