rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Orders can be read, written, and modified by any authenticated user.
    match /orders/{orderId} {
      allow read, write: if request.auth != null;
    }

    // Employees can be read, written, and modified by any authenticated user.
    match /employees/{employeeId} {
      allow read, write: if request.auth != null;
    }
  }
}
